<!DOCTYPE html>
<html>
    <head>
        <title>TopDoc</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <script text="type/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>

            <style>
              /* Always set the map height explicitly to define the size of the div
               * element that contains the map. */
              #map {
                height: 100%;
              }
              /* Optional: Makes the sample page fill the window. */
              html, body {
                height: 100%;
                margin: 0;
                padding: 0;
              }
            </style>
               
                                    <script>
                                      // This example requires the Places library. Include the libraries=places
                                      // parameter when you first load the API. For example:
                                      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
                                
                                      var map;
                                
                                      function initMap() {
                                        // Create the map.
                                        var lat = parseInt(document.getElementById("lat").value);
                                        var lng = parseInt(document.getElementById("lng").value);
                                        var liestal = {lat: 47.4895838, lng: 7.732632};
                                        var ort = {
                                          lat: lat,
                                          lng: lng
                                        };
                                        var map = new google.maps.Map(document.getElementById('map'), {
                                                center: ort,
                                                zoom: 13,
                                                mapTypeId: 'roadmap'
                                            });
                                                                                

                                        console.log(lat, lng);
                                        map = new google.maps.Map(document.getElementById('map'), {
                                          center: ort,
                                          zoom: 14
                                        });
                                
                                        // Create the places service.
                                        var service = new google.maps.places.PlacesService(map);
                                        var getNextPage = null;

                                
                                        // Perform a nearby search.
                                        service.nearbySearch(
                                            {location: ort, radius: 5000, type: ['doctor']},
                                            function(results, status) {
                                              if (status !== 'OK') return;
                                
                                              createMarkers(results);

                                            });
                                      }
                                
                                      function createMarkers(places) {
                                        var bounds = new google.maps.LatLngBounds();
                                        var placesList = document.getElementById('places');
                                
                                        for (var i = 0, place; place = places[i]; i++) {
                                          var image = {
                                            url: "https://www.kindpng.com/picc/m/164-1648612_hospital-map-marker-pin-doctor-medical-plus-logo.png",
                                            size: new google.maps.Size(71, 71),
                                            origin: new google.maps.Point(0, 0),
                                            anchor: new google.maps.Point(17, 34),
                                            scaledSize: new google.maps.Size(25, 25)
                                          };
                                
                                          var marker = new google.maps.Marker({
                                            map: map,
                                            icon: image,
                                            title: place.name,
                                            position: place.geometry.location
                                          });
                                

                                          bounds.extend(place.geometry.location);
                                        }
                                        map.fitBounds(bounds);
                                      }
                                    </script>
            
      </head>
    <body>
      <div style="position:absolute; left:2em; right:2em;">
        <div class="corona">
          Need coronavirus guidance?Check out our resources
  
      </div>
    <nav id="navbar"class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Topdoc</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/docs">Index<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Praxis anmelden</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/arztbereich/signup">Login</a>
            </li>


          </ul>
          <form class="form-inline my-2 my-lg-0" style="float: right">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
