<%- include('../partials/header-arzt', {doc: JSON.parse(doc)}) %>
<hr>
<div id="app">
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1> {{doc.name}}</h1></div>
    	<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="/images/logo.jpg" ></a></div>
    </div>
    <div class="row">
  	    <div class="col-sm-3"><!--left col-->
        <div class="text-center">
            <img v-bind:src="doc.image" class="avatar img-circle img-thumbnail" alt="avatar">
            <input id="file" type="file" class="text-center center-block file-upload">
        </div></hr><br>
          <div class="panel panel-default">
            <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a href="https://kreyden.ch/">kreyden.ch</a></div>
          </div>
          <ul class="list-group">
            <li class="list-group-item text-muted">Statistik</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Vergebene Termine:  </strong></span> <span class="number">898</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Verfügbare Termine: </strong></span> 1343</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
          </ul> 
               
          <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div>
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <form class="form" action="/arzt/account" method="post" id="registrationForm">
                        <div class="form-group">  
                          <div class="col-xs-6">
                              <label for="name"><h4>Name</h4></label>
                              <input :value="doc.name" type="text" class="form-control" name="name" id="name" placeholder="name" title="name">
                          </div>
                        </div>
                        <div class="form-group">                          
                          <div class="col-xs-6">
                            <label for="facharzt"><h4>Facharzt</h4></label>
                              <input v-bind:value="doc.spec" type="text" class="form-control" name="spec" id="facharzt" placeholder="facharzt" title="enter your last name if any.">
                          </div>
                        </div>
                        <div class="form-group">
                        <div class="col-xs-6">
                           <label for="email"><h4>Email</h4></label>
                            <input :value="doc.email" type="email" class="form-control" name="email" id="email" placeholder="email" title="enter your email">
                        </div>
                        </div>
                        <div class="form-group">
                          <div class="col-xs-6">
                              <label for="phone"><h4>Telefonnummer</h4></label>
                              <input :value="doc.phone" type="text" class="form-control" name="phone" id="phone" placeholder="061 922 70 45" title="enter your phone number if any.">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-xs-6">
                              <label for="street"><h4>Strasse</h4></label>
                              <input :value="doc.street" type="text" class="form-control" name="street" id="strasse" placeholder="Ahornweg 9" title="Strasse einfügen">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-xs-6">
                              <label for="location"><h4>Wohnort</h4></label>
                              <input :value="doc.location" type="text" class="form-control" name="location" id="location" placeholder="4000 Basel" title="enter a location">
                          </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label for="desc"><h4>Beschreibung</h4></label>
                                <textarea :value="doc.description" rows="6" type="text" class="form-control" name="description" id="desc" placeholder="Beschreiben Sie sich hier in 2-3 Sätzen!" title="enter a location"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label for="testimonial"><h4>Rezension</h4></label>
                                <textarea :value="doc.testimonial" rows="6" type="text" class="form-control" name="testimonial" id="testimonial" placeholder="" title="enter a location"></textarea> 
                            </div>
                        </div>
                        <div class="form-group">
                           <div class="col-xs-12" style="text-align: right;">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Speichern</button>
                            </div>
                        </div>
                    </form>
              <hr>
             </div><!--/tab-pane-->
          </div><!--/tab-content-->
        </div><!--/col-9-->
    </div><!--/row-->
</div>
</div><!--/app-->
<script>
const app = new Vue({
    el: "#app",
    data: {
        doc: <%- doc %>
    }
})

</script>
<style>
    label{
        padding-top: 20px;
    }
    .number{
        text-align: right;
    }
    #file{
        margin-top: 40px;
    }
</style>
                                                      
