<% include partials/header %>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">TopDoc</h1>
    <p class="lead">Finde und buche deinen Arzttermin online</p>
    <p><a class="btn btn-primary btn-lg" href="/docs" role="button">Termin buchen</a></p>
  </div>
</div>
<div class="abschnitt">
  <form>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Symptom, Behandlung, Arzt">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Ort oder PLZ">
      </div>
      <div class="col">
        <input type="text" class="form-control" id="date">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Versicherung">
      </div>
      <a type="button" class="btn btn-info" href="/docs">Suche</a>
    </div>
  </form>
  <script>
    var field = document.getElementById("date");
    var date = new Date();
    field.value = date.getDate().toString().padStart(2, 0) + '.' + (date.getMonth() + 1).toString().padStart(2, 0) + '.' + date.getFullYear().toString();
  </script>

<div style="margin-top: 5rem;">
  <h1>Beliebte Fachrichtungen</h1>
  <div id="app-landing">
        
  <div class="speciality card" href="/docs" v-for="item in groceryList">
  <bild
  v-bind:bild="item"
  ></bild>
  <div class="card-body">
    <todo-item
      v-bind:todo="item"
    ></todo-item>
  </div>
</div>
</div>
</div>
<script>
Vue.component('bild', {
  props: ["bild"],
  template: '<img :src="bild.img" class="card-img-top">'

})
Vue.component('todo-item', {
  props: ['todo'],
  template: '<a href="/docs" class="stretched-link card-text">{{todo.text}}</a>'
})

var app7 = new Vue({
  el: '#app-landing',
  data: {
    groceryList: [
      { id: 0, text: 'Hausarzt', img: "https://d1uhlocgth3qyq.cloudfront.net/primarycare-foreground___3vr-_.svg" },
      { id: 1, text: 'Gynäkologe', img: "https://d1uhlocgth3qyq.cloudfront.net/obgyn-foreground___3n8U5.svg" },
      { id: 2, text: 'Zahnarzt', img: "https://image.flaticon.com/icons/png/512/45/45245.png" },
      { id: 3, text: 'Dermatologe', img: "https://d1uhlocgth3qyq.cloudfront.net/dermatology-foreground___2S85y.svg" },
      { id: 4, text: 'Psychiater', img: "https://d1uhlocgth3qyq.cloudfront.net/primarycare-foreground___3vr-_.svg" },
      { id: 5, text: 'Augenarzt', img: "https://d1uhlocgth3qyq.cloudfront.net/optometry-foreground___CpXD2.svg" },
      { id: 6, text: 'HNO-Arzt', img: "https://d1uhlocgth3qyq.cloudfront.net/ent-foreground___20BiN.svg" },
      { id: 7, text: 'Gastroenterologe', img: "https://d1uhlocgth3qyq.cloudfront.net/gastro-foreground___3xErH.svg" },
    ]
  }
})
</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<% include partials/footer %>