<% include partials/header %>

<h1>Vue Demo #1</h1>
<div id="app">
  <colored-box class="red"/>
</div>


<script>
Vue.component('ColoredBox', {
  template: "<div class=\"box\"> - </div>"
})
const vueApp = new Vue({
  el: '#app',
  data: { 
   display: 'redbox' 
  }
});

</script>

<% include partials/footer %>