<% include ../partials/header %>
<div id="app" class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-lg-3 col-md-0"></div>
        <div class="col-xl-6 col-lg-9 col-md-12">
            <div class="row">
                <div class="col-3">
                  picture
                </div>
                <div class="col-9">
                  name
                </div>
            </div>    
            <button id="previous" class="btn btn-primary" v-on:click="previous">previous</button>          
            <button id="next" class="btn btn-primary" v-on:click="next">next</button>

            <div v-for="(day, i) in dataWithDate.slice(this.focus, this.focus + 10)">
                <div class="row">
                    <div v-for="item in day.slice(0,1)">
                        <div class="col-xs-6">
                            {{ item.date }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div v-for="item in day.slice(1, show[i])">
                        <a href="'/docs/' + doc._id" class="col-xs-2 termin-show">
                            <div>
                                {{ item.startFormated }}
                            </div>
                        </a>
                    </div>
                    <div v-if="day.length > 10" class="col-xs-2 termin-show" @click="showAll(i)">
                        mehr
                    </div>
                    <div v-if="day.length < 2">
                        keine Termine an diesem Tag
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


<script type="application/javascript">
var vm = new Vue({
    el: "#app",
    data: {
        schedule: <%- dataStringified %>,
        focus: 0,
        show: [10, 10, 10,10, 10, 10,10, 10, 10,10, 10, 10,10, 10, 10,10, 10, 10,10, 10, 10,10, 10, 10,10, 10, 10,10, 10, 10],
        hideMore: ["false", "false", "false","false", "false", "false","false", "false", "false","false", "false", "false","false", "false", "false","false", "false", "false"]
    },
    beforeCreate() {
        this.makeShow
    },

    computed: {
        dataWithDate: function(){
            const newArr = this.schedule
            const dateArray = []
            for(i=1; i<365; i++){
                const obj = {
                    date: moment().add(i, "d").locale("de").format("dddd DD.MM.YYYY")
                }
                dateArray.push(obj)
            }
            for(i=0; i<newArr.length; i++){
                newArr[i].unshift(dateArray[i])
            }
            return newArr
        }
    },
    methods: {
        next: function(){
            this.focus = this.focus + 10
        },
        previous: function(){
            this.focus = this.focus - 10
        },
        showAll: function(i){
            console.log(i)
            this.show.splice(i, 1, 100)
            this.hideMore.splice(i, 1, true)
        },
        makeShow: function(){
            arr = []
            for (let index = 0; index < 365; index++) {
                arr.push(10)
            }
            return arr
        }
    }    
})

</script>

<style scoped>
    .date {
        margin: 15px;
        font-family: sharp-sans-bold, Arial, sans-serif;
        font: 18px sharp-sans-semibold, Arial, sans-serif;
        color:rgb(0, 35, 75)
        
    }
    
    .more {
        cursor: auto
    }
    .termin-show {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 4px;
    margin: 5px;
    height: 31px;
    min-width: 52px;
    background-color: rgb(255, 240, 75);
    text-align: center;
    cursor: pointer;
    color: black;
}
</style>

<% include ../partials/footer %>